body {
  background-color: #d3d3d3;
  color: #000000;
  font-family: muli, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  font-style: normal;
  text-align: justify;
}

header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  letter-spacing: 1px;
  font-family: muli, sans-serif;
  font-weight: 900;
  font-style: italic;
}

header a {
  color: #b0bf1a;
  font-size: 25px;
  text-transform: uppercase;
}

.likesheader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.spotify {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  width: 25%;
  padding-left: 200px;
}

aside {
  display: flex;
  width: 50%;
  padding: 100px 50px 50px 50px;
  justify-content: center;
}

p {
  padding: 20px 100px 50px 100px;
}

.pop-up-text {
  position: relative;
  display: inline;
  color: #eb5e00;
  text-decoration: underline;
  cursor: pointer;
}

.pop-up {
  line-height: 1.5;
  font-size: 14px;
  width: 200px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 0;
  border: 2px solid black;
  padding: 10px;
  display: none;
  color: black;
  z-index: 10;
}

.pop-up-text:hover .pop-up {
  display: block;
}

.slide-container {
  padding-top: 70px;
  width: 500px;
  height: 750px; 
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
}

.image-container {
  width: 2000px;
  height: 750px;
  position: relative;
  transition: left 2s;
-webkit-transition: left 2s;
}

.slider-image {
  float:left;
  margin:0px;
  padding: 0px;
}

.button-container {
top: -40px;
  position: relative;
}

.slider-button{
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: white;
}

#slider-image-1:target ~ .image-container{
  left: 0px;
}

#slider-image-2:target ~ .image-container{
  left: -500px;
}

#slider-image-3:target ~ .image-container{
  left: -1000px;
}

#slider-image-4:target ~ .image-container{
  left: -1500px;
}