
body {
    background-color: #e7e2de;
    margin: 70px;
}

nav img{
    margin: 10px 130px 0px 130px;  
}

nav {
    text-align: center;
}

nav h3 {
    text-align: left;
}

header {
    font-family: quasimoda, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100px;
    margin-top: 20px;
    color: black;
    text-align: center;
    margin-top: 70px;
}

section h1 {
    font-family: niveau-grotesk,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
}

section p {
    font-family: freight-big-pro,serif;
    font-weight: 300;
    font-style: italic;
    font-size: 110px;
}

section h1 p {
    display: inline-block;
    margin: 10px;
}


