
body{
    margin: 100px;
}

head {
    margin-left: auto;
}

nav img{
    margin: 10px 130px 0px 130px;
    cursor: crosshair;  
}

nav {
    text-align: center;
}


nav h3 {
    text-align: left;
}

header {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 100px;
    margin-top: 20px;
    color: black;
    text-align: center;
    margin-top: 70px;
    color: 30;
}



section {
    display: flex;
    flex-direction: row;

}

section h1 {
    font-family: niveau-grotesk,sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    text-align: left;
    margin-right: 100px;
}

section p {
    font-family: freight-big-pro,serif;
    font-weight: 300;
    font-style: italic;
    font-size: 110px;
}

section h1 p {
    display: inline-block;
    margin: 10px;
}

section img {
    display: block;
    margin-left: auto;
}

.header {
    margin-top: 100px;
}

